<br />
<ul class="list-group">
  <li (click)="reset()" [class]="getAllColorClass()" routerLink="/cars">
    Colors
  </li>
  <input
  type="text"
  [(ngModel)]="filterText"
  class="form-control"
  id="color-filter-text"
  placeholder="Enter color"
  />
  <br>
  <li
    (click)="setCurrentColor(color)"
    *ngFor="let color of colors | colorFilterPipe:filterText"
    [class]="getCurrentColorClass(color)"
    routerLink="/cars/color/{{ color.colorId }}"
  >
    {{ color.colorName }}
  </li>
</ul>
