<br />
<ul class="list-group">
  <li (click)="reset()" [class]="getAllColorClass()">
    Colors

    <button type="button" routerLink="/colors/edit" class="btn btn-danger btn-sm ml-5">Edit</button>
    
  </li>
  <input
  type="text"
  [(ngModel)]="filterText"
  class="form-control"
  id="color-filter-text"
  placeholder="Enter color"
  />
  <br>
  <li
    (click)="setCurrentColor(color)"
    *ngFor="let color of colors | colorFilterPipe:filterText"
    [class]="getCurrentColorClass(color)"
    routerLink="/cars/color/{{ color.colorId }}"
  >
    {{ color.colorName }}
  </li>
</ul>
