<nav class="navbar navbar-light bg-warning navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="">CarRental</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cars">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/car/add">Car Add</a>
          </li>
        </ul>

        <div class="button-group me-3" *ngIf="isAuthenticated()">
          <button type="button" class="btn btn-outline-dark me-3" routerLink="/login">Login</button>
          <button type="button" class="btn btn-outline-dark" routerLink="/register">Sign Up</button>
        </div>

        <div class="profile-container me-5" *ngIf="!isAuthenticated()">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{userInfo?.firstName}} {{userInfo?.lastName}}
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/profile" >Edit Profile</a>
              <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
          </div>
        </div>
          
        
      
      </div>
        
      </div>
    
  </nav>
