<br />
<ul class="list-group">
  <li (click)="reset()" [class]="getAllBrandClass()">
    Brands
    <button type="button" routerLink="/brands/edit" class="btn btn-danger btn-sm ml-5">Edit</button>
  </li>
  <input
  type="text"
  [(ngModel)]="filterText"
  class="form-control"
  id="brand-filter-text"
  placeholder="Enter brand"
  />
  <br>
  <li
    (click)="setCurrentBrand(brand)"
    *ngFor="let brand of brands | brandFilterPipe:filterText"
    [class]="getCurrentBrandClass(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
  >
    {{ brand.brandName }}
  </li>
</ul>


