<br />

<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="row">
          <div *ngFor="let brand of brands" class="col-md-3 mb-3">
            <div
              class="container-button"
              routerLink="/brands/edit/{{ brand.brandId }}"
            >
              {{ brand.brandName }}
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-lg"
        routerLink="/brands/add"
      >
        Add
      </button>
    </div>
  </div>
</div>
